# Configuration file

clipboard {
    I:0 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        105
        114
        111
        110
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        28
        98
        97
        115
        101
        109
        101
        116
        97
        108
        115
        37
        51
        65
        112
        108
        97
        116
        105
        110
        117
        109
        95
        98
        108
        111
        99
        107
        63
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        66
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        73
        74
        44
        78
        -51
        77
        45
        73
        -52
        41
        6
        10
        21
        -28
        36
        -106
        100
        -26
        -107
        -26
        -58
        39
        -27
        -28
        39
        103
        -37
        51
        48
        52
        -80
        -4
        -1
        62
        10
        71
        50
        4
        0
        -122
        -68
        7
        109
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:1 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        105
        114
        111
        110
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        28
        98
        97
        115
        101
        109
        101
        116
        97
        108
        115
        37
        51
        65
        112
        108
        97
        116
        105
        110
        117
        109
        95
        98
        108
        111
        99
        107
        63
        3
        0
        1
        115
        0
        0
        0
        8
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        63
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        73
        74
        44
        78
        -51
        77
        45
        73
        -52
        41
        6
        10
        21
        -28
        36
        -106
        100
        -26
        -107
        -26
        -58
        39
        -27
        -28
        39
        103
        -37
        51
        60
        96
        86
        -8
        79
        0
        0
        0
        19
        -13
        49
        -82
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:2 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        105
        114
        111
        110
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        28
        98
        97
        115
        101
        109
        101
        116
        97
        108
        115
        37
        51
        65
        112
        108
        97
        116
        105
        110
        117
        109
        95
        98
        108
        111
        99
        107
        63
        3
        0
        1
        115
        0
        0
        0
        0
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        65
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        73
        74
        44
        78
        -51
        77
        45
        73
        -52
        41
        6
        10
        21
        -28
        36
        -106
        100
        -26
        -107
        -26
        -58
        39
        -27
        -28
        39
        103
        -37
        51
        48
        52
        -80
        48
        20
        -116
        -62
        -111
        12
        1
        112
        -45
        -127
        79
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:3 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        105
        114
        111
        110
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        28
        98
        97
        115
        101
        109
        101
        116
        97
        108
        115
        37
        51
        65
        112
        108
        97
        116
        105
        110
        117
        109
        95
        98
        108
        111
        99
        107
        63
        3
        0
        1
        115
        0
        0
        0
        32
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        66
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        73
        74
        44
        78
        -51
        77
        45
        73
        -52
        41
        6
        10
        21
        -28
        36
        -106
        100
        -26
        -107
        -26
        -58
        39
        -27
        -28
        39
        103
        -37
        51
        48
        52
        -80
        60
        100
        24
        -123
        35
        25
        2
        0
        88
        -127
        -14
        79
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:4 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        105
        114
        111
        110
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        28
        98
        97
        115
        101
        109
        101
        116
        97
        108
        115
        37
        51
        65
        112
        108
        97
        116
        105
        110
        117
        109
        95
        98
        108
        111
        99
        107
        63
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        66
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        73
        74
        44
        78
        -51
        77
        45
        73
        -52
        41
        6
        10
        21
        -28
        36
        -106
        100
        -26
        -107
        -26
        -58
        39
        -27
        -28
        39
        103
        -37
        51
        48
        52
        -80
        -76
        63
        28
        -123
        35
        25
        2
        0
        6
        106
        121
        94
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


